<%- include('../../layouts/panel/header'); %>
<div class="container">
    <div class="jumbotron">
        <!--//-->
        <%- include("../../errors/errorMessages.ejs") %>
        <form action="/panel/product-categories/update/<%= category.id %>" method="post" enctype="multipart/form-data">
            <!--//-->
            <div class="row">
                <div class="form-group col-md-6">
                    <select class="form-control"
                            name="employeeId"
                            id="employeeId">
                        <% for(let employee of employees) { %>
                            <option value="<%= employee.id %>"><%= employee.username %></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <select class="form-control"
                            name="brandId"
                            id="brandId">
                        <option value="<%= category.Brand.id %>"><%= category.Brand.name %></option>
                        <% for(let brand of brands) { %>
                            <% if(brand.id !== category.Brand.id) { %>
                                <option value="<%= brand.id %>"><%= brand.name %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <select class="form-control"
                            name="status"
                            id="status">
                        <option value="<%= category.status %>"><%= category.status %></option>
                        <% if(category.status === "PENDING") { %>
                            <option value="ACTIVE">ACTIVE</option>
                        <% } %>
                        <% if (category.status === "ACTIVE") { %>
                            <option value="PENDING">PENDING</option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <input type="text"
                           class="form-control"
                           name="name"
                           id="name"
                           value="<%= category.name %>"
                           placeholder="Enter Name">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button
                                class="btn btn-sm btn-outline-secondary"
                                type="button"
                                id="imageUpload"
                        >
                            آپلود عکس
                        </button>
                    </div>
                    <div class="custom-file">
                        <input
                                type="file"
                                class="custom-file-input"
                                id="image"
                                name="image"
                        />
                        <label
                                id="imageStatus"
                                class="custom-file-label"
                                for="selectedImage"
                        >
                            عکس مورد نظر را انتخاب کنید
                        </label>
                    </div>
                </div>
            </div>
            <!--//-->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<%- include('../../layouts/panel/footer'); %>


